<mat-nav-list>
    <a mat-list-item  routerLink="/intro"  routerLinkActive="active-link"  (click)="onSidenavClose()">
    <mat-icon>home</mat-icon><span class="nav-caption">Start</span>
    </a>
    <a mat-list-item routerLink="/home" routerLinkActive="active-link" (click)="onSidenavClose()">
    <mat-icon>person icon</mat-icon><span class="nav-caption">O mnie</span>
    </a>
    
    <a mat-list-item routerLink="/skill" routerLinkActive="active-link" (click)="onSidenavClose()">
    <mat-icon>school</mat-icon><span class="nav-caption">Umiejętności</span>
    </a>
    <a mat-list-item routerLink="/projects" routerLinkActive="active-link" (click)="onSidenavClose()">
    <mat-icon>laptop_mac</mat-icon><span class="nav-caption">Projekty</span>
    </a>
    <a mat-list-item routerLink="/contact" routerLinkActive="active-link" (click)="onSidenavClose()">
        <mat-icon>phone_in_talk</mat-icon><span class="nav-caption">Kontakt</span>
        </a>
</mat-nav-list>
