mat-nav-list{
    background-color: rgba(4, 102, 94, 0.671);
    height: 100%;
    padding: 10px 5px;
    .active-link{
        color: #41f3e4;
        box-shadow: 0 5px 15px  rgba(0, 255, 234, 1);
    }
    a{
        margin: 10px 5px;
    }
}